svg g .hexagon {
  fill: #4499a9;
  fill-opacity: 0.6;
}
svg g .hexagon:hover {
  filter: brightness(1.4);
  transition: ease-out 0.1s;
}
svg g.active .hexagon {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
svg g.clicked .hexagon {
  fill: #4499a9;
  fill-opacity: 0.9;
  transition: ease-out 0.1s;
  filter: brightness(0.8);
}

svg g .hexagon#group1 {
  fill: red;
  fill-opacity: 0.9;
  transition: ease-out 0.1s;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}
