svg g .hexagon {
  fill: #4499a9;
  fill-opacity: 0.6;
}

svg g text {
  font-size: 0.2em;
  fill: #000;
}

svg g.zonk .hexagon {
  fill: #000;
}

svg g.active .hexagon {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

svg g.active text {
  fill: #5900ff;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

svg g.admin-og-1 .hexagon {
  fill: #d1d1d1;
  fill-opacity: 0.9;
  transition: ease-out 0.1s;
  filter: brightness(0.8);
}

svg g.red .hexagon {
  fill: red;
  fill-opacity: 0.8;
}

svg g.yellow .hexagon {
  fill: rgb(255, 238, 0);
  fill-opacity: 0.8;
}

svg g.blue .hexagon {
  fill: blue;
  fill-opacity: 0.8;
}

svg g.orange .hexagon {
  fill: orange;
  fill-opacity: 0.8;
}

svg g.green .hexagon {
  fill: green;
  fill-opacity: 0.8;
}

svg g.violet .hexagon {
  fill: violet;
  fill-opacity: 0.8;
}

.red {
  fill: red;
  background-color: red;
  color: #353030;
}
.yellow {
  fill: rgb(255, 238, 0);
  background-color: rgb(255, 238, 0);
  color: #3a3a27;
}
.blue {
  fill: blue;
  background-color: blue;
  color: #c9c9c9;
}
.orange {
  fill: orange;
  background-color: orange;
  color: #4b3e2a;
}
.green {
  fill: green;
  background-color: green;
  color: #101411;
}
.violet {
  fill: violet;
  background-color: violet;
  color: #3d2936;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
