svg {
  z-index: 10;
}

svg g .hexagon {
  fill: #4499a9;
  fill-opacity: 1;
}

svg g text {
  font-size: 0.2em;
  fill: #000;
}

svg g.zonk .hexagon {
  fill: #000;
}

svg g.active .hexagon {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

svg g.active text {
  fill: #5900ff;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

svg g.admin-og-1 .hexagon {
  fill: #d1d1d1;
  fill-opacity: 0.9;
  transition: ease-out 0.1s;
  filter: brightness(0.8);
}

svg g.latest .hexagon {
  fill: #5900ff;
  fill-opacity: 1;
}

svg g.red .hexagon {
  fill: rgba(255, 0, 0, 1);
  fill-opacity: 1;
}

svg g.blue .hexagon {
  fill: blue;
  fill-opacity: 1;
}

svg g.orange .hexagon {
  fill: orange;
  fill-opacity: 1;
}

svg g.green .hexagon {
  fill: green;
  fill-opacity: 1;
}

svg g.violet .hexagon {
  fill: violet;
  fill-opacity: 1;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.backgroundimg {
  opacity: 0.2;
  position: absolute;
  margin-top: 3vh;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
